<template>
  <div id="map" class="map"></div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import {
  of,
  from,
  Subject,
  BehaviorSubject,
  combineLatest,
  concatMap,
  distinct,
} from "rxjs";
import {
  filter as filterOp,
  groupBy,
  bufferTime,
  mergeMap,
  switchMap,
  reduce,
  map,
  toArray,
  scan,
  take,
  delay,
  tap,
} from "rxjs/operators";
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import trip from "@/db/trip-1.json";
const marker = ref(null);

onMounted(() => {
  const map = L.map("map", {
    center: L.latLng(trip[0].lat, trip[0].lng),
    zoom: 18,
  });
  const key = "CC10Hk7gka3rFNRo4TK5";

  L.tileLayer(
    `https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,
    {
      //style URL
      tileSize: 512,
      zoomOffset: -1,
      minZoom: 1,
      attribution:
        '\u003ca href="https://www.maptiler.com/copyright/" target="_blank"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href="https://www.openstreetmap.org/copyright" target="_blank"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e',
      crossOrigin: true,
    }
  ).addTo(map);

  from(trip)
    .pipe(
      concatMap((item) => from([item]).pipe(delay(1500))),
      tap((item) => {
        if (marker.value) {
          map.removeLayer(marker.value);
        }

        marker.value = L.marker(item).addTo(map);
      }),
      bufferTime(3000),
      tap((item) => {
        console.log(item);
      })
    )

    .subscribe((item) => {});
});
</script>

<style>
#map {
  padding: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
</style>
